@font-face {
  font-family: "PP Telegraf";
  src: url("/fonts/PP_Telegraf_Regular.ttf") format("ttf"),
    url("/fonts/PP_Telegraf_Regular.woff") format("woff"),
    url("/fonts/PP_Telegraf_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PP Telegraf";
  src: url("/fonts/PP_Telegraf_Regular.ttf") format("ttf"),
    url("/fonts/PP_Telegraf_Regular.woff") format("woff"),
    url("/fonts/PP_Telegraf_Regular.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mona-Sans";
  src: url("/fonts/Mona-Sans-Regular.ttf") format("ttf"),
    url("/fonts/MonaSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
